:root {
  --green-gradient: hsl(192, 100%, 67%);
  --purple-gradient: hsl(280, 87%, 65%);
  --w-sm: 400;
  --w-lg: 700;
  --test: hsl(0, 0%, 98%);
  --v-l-g: hsl(0, 0%, 98%);
  --bgcolor: hsl(0, 0%, 98%);
  --text: hsl(236, 9%, 61%);
  --todo__text: hsl(235, 24%, 19%);
  --very-Light-Gray: hsl(0, 0%, 98%);
  --very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --vight-Grayish-Blue: hsl(233, 11%, 84%);
  --dark-Grayish-Blue: hsl(236, 9%, 61%);
  --very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
  --v-dark-blue: hsl(235, 21%, 11%);
  --Dark-Desaturated-Blue: hsl(235, 24%, 19%);
}

.dark-theme {
  --todo__text: var(--very-Light-Gray);
  --v-l-g: var(--v-dark-blue);
  --text: var(--very-dark-Grayish-Blue);
  --bgcolor: var(--Dark-Desaturated-Blue);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --very-dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

.light-theme {
  --very-Light-Gray: hsl(0, 0%, 98%);
  --very-dark-Grayish-Blue: hsl(236, 33%, 92%);
  --vight-Grayish-Blue: hsl(233, 11%, 84%);
  --dark-Grayish-Blue: hsl(236, 9%, 61%);
  --very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  background-color: var(--bgcolor);
}

.container {
  position: relative;
}

.header-bg {
  background-image: url(/images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  background-position: top center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .header-bg {
    background-image: url(/images/bg-mobile-light.jpg);
  }
}

.new-header {
  background-image: url(../images/bg-mobile-dark.jpg);
  height: 50vh;
}
@media only screen and (max-width: 600px) {
  .new-header {
    background-image: url(/images/bg-mobile-dark.jpg);
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main,
.content {
  height: 50%;
  width: 550px;
}

.heading-primary {
  text-transform: uppercase;
  letter-spacing: 2rem;
  font-size: 3.6rem;
  color: var(--very-Light-Gray);
  font-weight: var(--w-lg);
}

.content {
  margin-top: -10rem;
}

.input {
  width: 100%;
  display: block;
  height: 6rem;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  background-color: var(--bgcolor);
  font-size: inherit;
  color: var(--Light-Grayish-Blue);
  border: 1px solid var(--bgcolor);
  padding: 1rem 2rem;
  padding-left: 6rem;
}

.form__group {
  position: relative;
  margin-bottom: 2.4rem;
}

.check-box {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--very-Dark-Grayish-Blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo {
  border-radius: 5px;
  background-color: var(--bgcolor);
  position: relative;
  box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.2);
  color: var(--dark-Grayish-Blue);
  z-index: 2;
}
.todo__list {
  list-style-type: none;
  overflow-y: scroll;
  padding: 0;
  height: fit-content;
  padding-inline-start: 0;
  height: 50rem;
  border-radius: 5px;
}
.todo .icon-box {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  appearance: none;
  border: 1px solid var(--very-Dark-Grayish-Blue);
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.todo .icon-box:checked {
  background: url("../images/icon-check.svg") center center no-repeat, linear-gradient(to top right, var(--green-gradient), var(--purple-gradient));
}
.todo .icon-box > svg {
  pointer-events: none;
}
.todo .icon-box > svg > path {
  pointer-events: none;
}
.todo .icon-box:hover {
  cursor: pointer;
}
.todo__item {
  display: flex;
  border-bottom: 1px solid var(--dark-Grayish-Blue);
  padding: 1.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  align-items: center;
  height: fit-content;
  width: 100%;
  cursor: pointer;
}
.todo__description {
  margin-right: auto;
  align-self: center;
  word-wrap: break-word;
  word-break: break-all;
  color: var(--todo__text);
}
.todo .delete-box {
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
}
.todo .delete-box .delete {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.todo .delete-box .delete > path {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.todo__item:hover .delete-box {
  opacity: 1;
  visibility: visible;
}
.todo .show {
  opacity: 1;
  visibility: visible;
}
.todo__list::-webkit-scrollbar {
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 0;
}
.todo .hide {
  opacity: 0;
  visibility: hidden;
}

.dark,
.light {
  cursor: pointer;
}

.light {
  display: none;
}

.options {
  border-top: 1px solid var(--dark-Grayish-Blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.3rem;
  font-weight: var(--w-lg);
  width: 100%;
  padding: 2rem;
  z-index: 19999;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--text);
  background-color: var(--bgcolor);
}
.options .filters {
  display: flex;
  list-style-type: none;
}
.options .filters li {
  margin-right: 1rem;
  cursor: pointer;
}
.options .completed {
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
  opacity: 0.5;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.active {
  color: #6e94db;
}

@media only screen and (max-width: 600px) {
  .header-bg {
    padding: 0 2rem;
  }

  .content {
    padding: 0 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
